
<div class="container">
    <div class="row wrapper border-bottom page-heading">
        <div class="col-sm-12">
            <h2><i class="fa fa-bars"> Price Management</i></h2>   
        </div>
        <hr/>        
        <div class="col-sm-2">
            <button class="btn btn-primary dim btn-small-dim" type="button" routerLink="add"><i class="fa fa-plus"> Add Driver</i></button>
        </div>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight">

          <div class="row">
              <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Price Management with row toggler, sorting and pagination</h5>
      
                      </div>
                      <div class="ibox-content">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                      <select class="form-control m-b" name="country">
                                          <option>Select Country</option>
                                          <option>Country1</option>
                                          <option>Country2</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="table-responsive-sm">
                                  <table class="table">
                                      <caption>List of users</caption>
                                      <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">First</th>
                                          <th scope="col">Last</th>
                                          <th scope="col">Handle</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>Mark</td>
                                          <td>Otto</td>
                                          <td>@mdo</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>Jacob</td>
                                          <td>Thornton</td>
                                          <td>@fat</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>Larry</td>
                                          <td>the Bird</td>
                                          <td>@twitter</td>
                                        </tr>
                                      </tbody>
                                    </table>
                              </div>
      
                      </div>
                  </div>
              </div>
          </div>
        </div>  
      
</div>
