<nav id="navbar" class="navbar navbar-dark bg-dark">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/drivers">Drivers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/advertisements">Advertisement</a>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/city">City</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/vehicles">Vehicle</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/commission">Commission</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/price-management">Price Management</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/delivery-range">Delivery Range</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/terms-conditions">Terms and Conditions</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/privacy-policy">Privacy and Policy</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/special-delivery-rule">Special Delivery Rule</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" routerLinkActive="active current" routerLink="/service-charge">Service Charge</a>
        <div role="separator" class="dropdown-divider"></div>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/orders">Orders Placed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/reports">View Order Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/contacts">View User Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/admin-users">Admin Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/place-order">Place Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active current" routerLink="/shared">Shared</a>
    </li>
  </ul>
</nav>
<hr/>