<div class="container">
  <!-- header -->
  <div class="row wrapper border-bottom page-heading">
    <div class="col-sm-10">
      <h2><i class="fa fa-bars"> Add</i></h2>
    </div>
    <hr />
    <div class="col-sm-2">
      <button class="btn btn-primary dim btn-small-dim" type="button" routerLink="/drivers">
        <i class="fa fa-arrow-left"> Back</i>
      </button>
    </div>
  </div>
  <!-- form -->
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <form [formGroup]="form" (submit)="saveDriver()" class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="name" class="form-control" />
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('name').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">UserName</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="username" class="form-control" />
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('username').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="password" class="form-control" />
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('password').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" formControlName="email" class="form-control" />
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('email').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Contact Number</label>
                <div class="col-sm-10">
                  <input type="number" formControlName="contact" class="form-control" />
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('contact').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                  <textarea type="text" formControlName="address" class="form-control"></textarea>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('address').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Select City</label>

                <div class="col-sm-10">
                  <select class="form-control m-b" formControlName="city">
                    <option>Select City</option>
                    <option>City1</option>
                    <option>City1</option>
                  </select>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('city').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Select Vehicle</label>

                <div class="col-sm-10">
                  <select class="form-control m-b" formControlName="vehicle">
                    <option>Select Vehicle</option>
                    <option>Vehicle1</option>
                    <option>Vehicle2</option>
                  </select>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('vehicle').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                  <button class="btn btn-outline btn-success  dim" type="button" (click)="filePicker1.click()"><i class="fa fa-upload"></i></button>
                  <input type="file" #filePicker1 formControlName="image1" (change)="onImagePicked1($event)">
                </div>
                <!-- image preview -->
                <div class="image-preview" *ngIf="imagePreview1 !== '' && imagePreview1 && form.get('image1').value">
                  <img [src]="imagePreview1" [alt]="form.value.title">
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('image1').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Driving License</label>
                <div class="col-sm-10">
                  <button class="btn btn-outline btn-success  dim" type="button" (click)="filePicker2.click()"><i class="fa fa-upload"></i></button>
                  <input type="file" #filePicker2 formControlName="image2" (change)="onImagePicked2($event)">
                </div>
                <!-- image preview -->
                <div class="image-preview" *ngIf="imagePreview2 !== '' && imagePreview2 && form.get('image2').value">
                  <img [src]="imagePreview2" [alt]="form.value.title">
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="form.get('image2').invalid">
                Please complete all validations.
              </div>
              <div class="hr-line-dashed"></div>


              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" type="submit">
                    Save changes
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
