

<div class="container">
  <div class="row wrapper border-bottom page-heading">
    <div class="col-sm-12">
        <h2><i class="fa fa-bars"> Place Order</i></h2>   
    </div>
    <hr/>        
  </div>
<!-- form -->
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">

                        <div class="form-group">
                        <label class="col-sm-2 control-label">Select Country</label>

                          <div class="col-sm-10">
                            <select class="form-control m-b" name="country">
                                <option>Select Country</option>
                                <option>Country1</option>
                                <option>Country2</option>
                            </select>
                          </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Select Vehicle</label>
    
                            <div class="col-sm-10">
                              <select class="form-control m-b" name="vehicle">
                                  <option>Select Vehicle</option>
                                  <option>Vehicle1</option>
                                  <option>Vehicle2</option>
                              </select>
                            </div>
                          </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Special Delivery <br/><small class="text-navy">Special Delivery</small>
                            </label>

                        <div class="col-sm-10">

                              <div class="i-checks"><label> <input type="radio" value="" name="special"> <i></i> Off </label></div>
                              <div class="i-checks"><label> <input type="radio" value="" name="special"> <i></i> On </label></div>
                              
                        </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pickup Location</label>
                            <div class="col-sm-10">
                            <input type="text" name="pickup" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Drop Location</label>
                            <div class="col-sm-10">
                            <input type="text" name="drop" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Special Location</label>
                            <div class="col-sm-10">
                            <input type="text" name="special" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Note</label>
                            <div class="col-sm-10">
                            <textarea type="text" name="note" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</div>
