<navbar></navbar>
<div class="container">
<div class="row wrapper border-bottom page-heading">
  <div class="col-sm-10">
      <h2><i class="fa fa-bars"> Details</i></h2>   
  </div>
  <hr/>        
  <div class="col-sm-2">
      <button class="btn btn-primary dim btn-small-dim" type="button" routerLink="/admin-users"><i class="fa fa-arrow-left"> Back</i></button>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight white-bg">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            Alex Smith
                        </h2>
                        <h4>Founder of Groupeq</h4>
                        <small>
                            There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form Ipsum available.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>Username</strong> xyz
                    </td>
                    <td>
                        <strong>Password</strong> 123234
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>Email</strong> xyz@gmail.com
                    </td>
                    <td>
                        <strong>Contact</strong> 4545454545545
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Address</strong> 121,dfsdfdsf,dsfdsfds,dfadsfadsf
                    </td>
                    <td>
                        <strong>City</strong> city
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>Permissions</small>
            <h2 class="no-margins">206 480</h2>
            <div id="sparkline1"></div>
        </div>


    </div>
    

</div>
</div>